.containr{
    background-color: black;
    text-align: center;
    padding:20px;
    
  }

  .clife-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }

  .copy-box 
  {
    position: relative;
    margin: 15px 5%;
    max-width: 400px; 
    background-color: #111111;
    color: #333333;
    font-family: sans-serif;
    padding: 20px;
  }
  .copy-box .line
  {
    position: absolute;
    background-color: aqua;
    box-shadow: 0px 0px 12px aqua;
    width: 4px;
    height: calc(100% - 20px);
    top: 10px;
    left: 22px;
    border-radius: 50%;
    overflow: hidden;
  }

  .copy-box img{
    height: 100%;
    width: 100%;
  }



  .copy-box.two .line
  {
    border-radius: 0;
    width: 2px;
  }
  .copy-box .line .scanner 
  {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    animation: scanner-loop 3s ease-in-out infinite;
  }
  
  .copy-box.two .line .scanner
  {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    height: 50%;
  }
  @keyframes scanner-loop
  {
    0% 
    {
      top: 0;
    }
    50%
    {
      top: 100%;
    }
    100%
    {
      top: 0;
    }
  }
  .copy-box .inner 
  {
    padding: 30px;
  }

  .tit{
      color:aqua;
      margin-bottom: 20px;
  }

  .im1{
      height:211px;
      width:318px;
  }

  .hed{
      margin-top:10px;
      color:aqua;
  }

  .det{
      margin-top:5%;
      color:rgb(200, 198, 198);
  }

  @media(max-width: 500px){
  .copy-box 
  {
    position: relative;
    margin: 15px 5%;
    max-width: 300px; 
    background-color: #111111;
    color: #333333;
    font-family: sans-serif;
    padding: 20px;
  }
}
