* {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.logo {
  height: 30px;
  width: 60%;
  margin-left: 20%;
  margin-right: 10px;
  color: rgb(250, 225, 0);
}
.rightHead{
  margin-left: auto;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid rgb(212, 210, 210);
  position: sticky;
  z-index: 100;
}

.right_cont {
  display: flex;
}



.right_cont > li {
  padding-left: 10px;
}

.right_cont > li > a:hover {
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid rgb(143, 146, 146);
  -webkit-box-shadow: 0px 0px 18px -34px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 0px 0px 18px -34px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 0px 18px -34px rgba(0, 0, 0, 0.59);
}

