
*{
  margin: 0;
  padding: 0;
  list-style: none;
}



.logo{
  height: 50px;
  width:200px;
  margin-left:15px;
  margin-right:10px;
 
}

.total {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid rgb(212, 210, 210);
  /* background: red; */
}

.right_cont{
  display: flex;
}

.right_cont > li {
  padding-left: 10px;
}

.right_cont > li > a:hover{
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid rgb(143, 146, 146);
  -webkit-box-shadow: 0px 0px 18px -34px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 0px 18px -34px rgba(0,0,0,0.59);
box-shadow: 0px 0px 18px -34px rgba(0,0,0,0.59);

}

a{
  text-decoration: none;
}